@font-face {
  font-family: "PTSerif";
  font-weight: 400;
  font-style: normal;
  src: local("PTSerif-Regular"), url("../fonts/PTSerif-Regular.woff2") format("woff2"), url("../fonts/PTSerif-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: local("Inter-Regular"), url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-display: swap;
}
.prices__price p, .title {
  font-family: "PTSerif", sans-serif;
  font-weight: 400;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  height: 100%;
}

body {
  background-color: #ADC9E4;
  font-size: 16px;
  line-height: 1.2;
  color: #202330;
}

.main {
  flex-grow: 1;
}

.text {
  line-height: 1.5;
  opacity: 0.8;
}

.btn {
  padding: 15px;
  min-width: 170px;
  text-transform: uppercase;
  color: #fff;
  background-color: #00850B;
  border-radius: 27px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
.btn:active {
  transform: scale(0.95);
}
.btn:hover {
  background-color: #016509;
}

.no-scroll {
  overflow-y: hidden;
}

.header {
  max-width: 1360px;
  padding: 10px;
  margin: 0 auto;
  overflow-y: auto;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 24px 40px;
  border-radius: 12px;
}
.header__nav-btn, .header__btn {
  display: none;
}
.header__list {
  display: flex;
  gap: 50px;
}
.header__link {
  position: relative;
  text-transform: uppercase;
  color: #202330;
}
.header__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -18px;
  height: 2px;
  width: 100%;
  border-radius: 1px;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s;
}
.header__link:hover::before {
  background-color: #00850B;
}
.header__nav--active .header__list {
  opacity: 1;
}
.header__nav--active .header__nav-btn::before {
  transform: rotate(45deg);
  top: 5px;
  transition: background-color 0.3s, transform 0.3s 0.15s, top 0.3s;
}
.header__nav--active .header__nav-btn::after {
  transform: rotate(-45deg);
  bottom: 5px;
  transition: background-color 0.3s, transform 0.3s 0.15s, bottom 0.3s;
}
.header--active {
  height: 100vh;
}
.header--active .header__btn {
  display: block;
  margin-top: auto;
  width: 100%;
}
.header--active .header__list {
  pointer-events: auto;
  overflow-y: auto;
}

.hero {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 10px 10px;
}
.hero__inner {
  border-radius: 12px;
  background-color: #fff;
  padding: 40px;
  display: flex;
  gap: 80px;
}
.hero__img {
  max-width: 570px;
  width: 100%;
}
.hero__img img {
  height: 470px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.hero__adress, .hero__phone {
  padding-left: 25px;
  position: relative;
  transition: color 0.3s;
}
.hero__adress::before, .hero__phone::before {
  position: absolute;
  left: 0;
  top: 0;
}
.hero__adress:hover, .hero__phone:hover {
  color: #016509;
}
.hero__adress {
  margin-bottom: 20px;
}
.hero__adress::before {
  content: url(../images/icon/map.svg);
}
.hero__phone::before {
  content: url(../images/icon/phone.svg);
}
.hero__title {
  margin-top: auto;
  font-size: 64px;
}
.hero__button {
  margin-top: 40px;
}
.hero__text {
  margin-top: 30px;
  max-width: 470px;
}
.hero__inner--reversed {
  flex-direction: row-reverse;
  justify-content: space-between;
}
.hero__inner--about .hero__img {
  max-width: 590px;
}
.hero__inner--about .hero__items {
  max-width: 590px;
}
.hero__inner--services .hero__img {
  max-width: 790px;
}
.hero__inner--services .hero__items {
  max-width: 390px;
}
.hero__inner--services .hero__title {
  max-width: 340px;
}

.about {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 10px 10px;
}
.about__inner {
  height: 940px;
  position: relative;
  border-radius: 12px;
  background-color: #fff;
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.about__inner::before {
  content: "";
  background-image: url(../images/icon/services.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 80px;
  width: 115px;
  position: absolute;
  top: 40px;
  left: 40px;
}
.about__title {
  font-size: 48px;
  margin-bottom: auto;
  margin-left: calc(50% + 25px);
}
.about__text {
  display: flex;
  margin-bottom: 40px;
  gap: 50px;
}
.about__text p {
  padding-right: 14%;
  width: 100%;
}
.about__img {
  height: 500px;
  border-radius: 12px;
  overflow: hidden;
  margin: 0 -40px -40px;
  position: relative;
}
.about__img img {
  width: 100%;
  height: auto;
  position: absolute;
  top: -90px;
}

.features {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 10px 10px;
}
.features__inner {
  min-height: 510px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}
.features__item {
  border-radius: 12px;
  background-color: #fff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.features__item--big {
  grid-row: span 2;
}
.features__item--big .features__subtitle {
  margin-bottom: 45px;
}
.features__subtitle {
  font-size: 32px;
  margin-bottom: auto;
}
.features__text {
  max-width: 450px;
}
.features__button {
  margin-top: auto;
}
.features__inner-about {
  height: 1345px;
  flex-direction: row;
}

.services {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 10px 10px;
}
.services__inner {
  border-radius: 12px;
  background-color: #fff;
  padding: 40px;
}
.services__img {
  height: 500px;
  border-radius: 12px;
  overflow: hidden;
  margin: -40px -40px 0;
  position: relative;
}
.services__img img {
  width: 100%;
  height: auto;
  position: absolute;
}
.services__title {
  font-size: 48px;
  margin: 40px 0;
}
.services__item {
  display: flex;
  justify-content: space-between;
  border: 1px solid #d2d3d6;
  border-radius: 5px;
  align-items: center;
  padding: 40px;
}
.services__item:not(:last-child) {
  margin-bottom: 10px;
}
.services__subtitle {
  font-size: 32px;
  min-width: 300px;
}
.services__text {
  max-width: 330px;
  margin: 0 20px;
}

.reviews {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 10px 10px;
}
.reviews__inner {
  border-radius: 12px;
  background-color: #fff;
  padding: 40px;
}
.reviews__title {
  font-size: 48px;
  margin-bottom: 40px;
}
.reviews__items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.reviews__item {
  min-height: 160px;
  width: calc(50% - 5px);
  border: 1px solid #d2d3d6;
  border-radius: 5px;
  padding: 30px 60px 30px 140px;
  position: relative;
}
.reviews__item img {
  border-radius: 50%;
  position: absolute;
  top: 30px;
  left: 30px;
}
.reviews__text {
  margin-bottom: 10px;
}
.reviews__author {
  color: #797b83;
}

.contacts {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 10px;
}
.contacts__inner {
  padding: 40px;
  border-radius: 12px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
.contacts__info {
  max-width: 320px;
  width: 100%;
  margin-right: 10px;
}
.contacts__title {
  font-size: 48px;
  margin-bottom: 20px;
}
.contacts__text {
  margin-bottom: 53px;
}
.contacts__wrapper {
  display: flex;
}
.contacts__wrapper .hero__adress {
  margin-right: 20px;
  margin-bottom: 0;
  max-width: 150px;
}
.contacts__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  border: 1px solid #d2d3d6;
  max-width: 788px;
  border-radius: 5px;
  padding: 40px;
  position: relative;
}
.contacts__input {
  display: block;
  max-width: 344px;
  width: 100%;
  height: 63px;
  border: none;
  color: #202330;
  outline-style: none;
  border-bottom: 1px solid #202330;
  transition: border-color 0.3s;
}
.contacts__input:hover {
  border-color: #00850B;
}
.contacts__input::-moz-placeholder {
  color: #202330;
}
.contacts__input::placeholder {
  color: #202330;
}
.contacts__input input {
  padding: 0;
}
.contacts__button {
  max-width: 344px;
  width: 100%;
}
.contacts__checkbox {
  display: flex;
  max-width: 290px;
  width: 100%;
}
.contacts__checkbox input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  max-width: 20px;
  width: 100%;
  height: 20px;
  border: 1px solid #202330;
  margin: 0;
  cursor: pointer;
}
.contacts__checkbox input:hover {
  border-color: #00850B;
}
.contacts__checkbox input::after {
  content: url(../images/icon/angle-checkbox.svg);
  position: absolute;
  top: -1px;
  left: 3px;
  transition: opacity 0.3s;
  opacity: 0;
}
.contacts__checkbox input:checked::after {
  opacity: 1;
}
.contacts__checkbox label {
  display: block;
  font-size: 12px;
  margin-left: 10px;
}

.copyright {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.evidence {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 10px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.evidence__item {
  height: 450px;
  width: calc(50% - 5px);
  border-radius: 12px;
  background-color: #fff;
  padding: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.evidence__item::before {
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 40px;
  top: 40px;
}
.evidence__item:nth-child(1)::before {
  content: "";
  background-image: url(../images/icon/features/1.svg);
  height: 100px;
  width: 100px;
}
.evidence__item:nth-child(2)::before {
  content: "";
  background-image: url(../images/icon/features/2.svg);
  height: 80px;
  width: 115px;
}
.evidence__item:nth-child(3)::before {
  content: "";
  background-image: url(../images/icon/features/3.svg);
  height: 80px;
  width: 115px;
}
.evidence__item:nth-child(4)::before {
  content: "";
  background-image: url(../images/icon/features/4.svg);
  height: 100px;
  width: 104px;
}
.evidence__text {
  max-width: 510px;
  margin-top: 30px;
}
.evidence__subtitle {
  font-size: 32px;
  max-width: 410px;
}

.mission {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 10px 10px;
}
.mission__item {
  height: 427px;
  border-radius: 12px;
  background-color: #fff;
  padding: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.mission__item::before {
  content: "";
  background-image: url(../images/icon/features/5.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  height: 80px;
  width: 80px;
  top: 40px;
  left: 40px;
}
.mission__title {
  font-size: 48px;
  margin-top: auto;
}
.mission__text {
  max-width: 585px;
  margin-left: calc(50% + 45px);
}

.prices {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 10px 10px;
}
.prices__item {
  border-radius: 12px;
  background-color: #fff;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  min-height: 400px;
}
.prices__item:not(:last-child) {
  margin-bottom: 10px;
}
.prices__list {
  width: 300px;
}
.prices__price {
  margin-bottom: 30px;
}
.prices__price p {
  font-size: 32px;
  line-height: 1.2;
  margin-top: 5px;
}
.prices__info {
  max-width: 790px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: none;
  padding: 0;
  margin-left: 40px;
}
.prices__text {
  margin: 25px 0 auto 0;
  max-width: 720px;
  width: 100%;
}
.prices__subtitle {
  font-size: 48px;
}
.prices__button {
  width: 100%;
  margin-top: 10px;
}

.map {
  max-width: 1360px;
  height: 412px;
  margin: 0 auto;
  padding: 10px 10px 0;
}

@media (max-width: 1200px) {
  .hero__inner {
    gap: 40px;
  }
  .title-h1 {
    font-size: 48px;
  }
  .title-h2 {
    font-size: 42px;
  }
  .services__img img {
    top: 0;
  }
  .reviews__item {
    padding: 30px 20px 30px 130px;
  }
  .contacts__inner {
    flex-direction: column;
  }
  .contacts__info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 200px;
    min-width: 50%;
    margin-bottom: 30px;
  }
  .contacts__text {
    margin-bottom: 20px;
  }
  .contacts__form {
    max-width: 100%;
    gap: 30px;
  }
  .contacts__input {
    max-width: 45%;
  }
  .contacts__wrapper {
    margin-top: 72px;
    margin-left: 40px;
  }
}
@media (max-width: 960px) {
  .title-h1 {
    font-size: 46px;
  }
  .title-h2 {
    font-size: 36px;
  }
  .about__inner {
    max-height: 940px;
    height: 100%;
  }
  .about__title {
    margin: 120px 0 40px;
  }
  .about__text {
    flex-direction: column;
    gap: 40px;
  }
  .about img {
    height: 100%;
    top: 0;
  }
  .features__inner {
    display: flex;
    flex-direction: column;
  }
  .features .features__subtitle {
    margin-bottom: 30px;
  }
  .features__button {
    margin-top: 30px;
  }
  .services__img {
    height: 100%;
    padding-bottom: 57%;
  }
  .services__item {
    flex-direction: column;
    align-items: flex-start;
  }
  .services__subtitle {
    font-size: 30px;
  }
  .services__text {
    margin: 30px 0;
  }
  .reviews__item {
    width: 100%;
  }
  .reviews__text {
    max-width: 450px;
  }
  .evidence__item {
    width: 100%;
    height: 100%;
  }
  .evidence__subtitle {
    margin-top: 120px;
  }
  .evidence__text {
    margin-top: 20px;
  }
  .mission__item {
    height: 100%;
  }
  .mission__title {
    margin: 120px 0 20px;
  }
  .mission__text {
    order: 1;
    margin-left: 0;
  }
  .contacts__button {
    max-width: 270px;
  }
}
@media (max-width: 768px) {
  .title-h1 {
    font-size: 42px;
  }
  .title-h2 {
    font-size: 34px;
  }
  .header__inner {
    padding: 20px 40px;
  }
  .header__nav {
    order: 1;
  }
  .header__nav ul {
    padding: 60px 40px 40px;
    margin: 0 10px;
  }
  .header__list {
    position: absolute;
    top: 91px;
    width: calc(100% - 20px);
    height: calc(100vh - 100px);
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    border-radius: 12px;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s;
  }
  .header__list__item:not(:last-child) {
    margin-right: 0px;
  }
  .header__list__link {
    display: block;
    transition: background-color 0.3s;
  }
  .header__list__link::before {
    bottom: -5px;
  }
  .header__nav-btn {
    display: flex;
    width: 24px;
    height: 12px;
    border: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
  }
  .header__nav-btn:hover::after, .header__nav-btn:hover::before {
    background-color: #016509;
  }
  .header__nav-btn::after, .header__nav-btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: #00850B;
  }
  .header__nav-btn::before {
    top: 0;
    transition: background-color 0.3s, transform 0.3s, top 0.3s 0.15s;
  }
  .header__nav-btn::after {
    bottom: 0;
    transition: background-color 0.3s, transform 0.3s, bottom 0.3s 0.15s;
  }
  .hero__inner {
    flex-direction: column;
  }
  .hero__inner--about .hero__img {
    max-width: 100%;
  }
  .hero__title {
    font-size: 42px;
    margin-top: 60px;
    max-width: 420px;
  }
  .hero__img {
    max-width: 100%;
    order: 1;
  }
  .hero img {
    height: 100%;
  }
  .contacts__info {
    display: block;
  }
  .contacts__wrapper {
    margin-left: 0;
    margin-top: 0;
  }
  .contacts__text {
    margin-bottom: 52px;
  }
  .contacts__input {
    max-width: 100%;
  }
  .prices__item {
    flex-direction: column;
    position: relative;
  }
  .prices .prices__list {
    order: 1;
    margin-bottom: 85px;
  }
  .prices__info {
    margin-left: 0;
  }
  .prices__text {
    margin: 20px 0;
  }
  .prices__button {
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: calc(100% - 80px);
  }
}
@media (max-width: 480px) {
  .title-h1 {
    font-size: 38px;
  }
  .title-h2 {
    font-size: 32px;
  }
  .title-h3 {
    font-size: 28px;
  }
  .btn {
    padding: 10px;
  }
  .header__inner {
    padding: 22px 20px;
  }
  .header__logo img {
    max-width: 90%;
  }
  .header__nav ul {
    padding: 60px 20px 20px;
  }
  .hero__inner {
    padding: 0;
    gap: 0;
  }
  .hero__inner--about .hero__items, .hero__inner--services .hero__items {
    padding-bottom: 20px;
  }
  .hero__items {
    padding: 20px 20px 30px;
  }
  .hero__title {
    font-size: 38px;
  }
  .hero img {
    border-radius: 11px;
  }
  .hero__button {
    width: 100%;
  }
  .about__inner {
    padding: 20px;
  }
  .about__inner::before {
    top: 20px;
    left: 20px;
    height: 60px;
    width: 86px;
  }
  .about__title {
    margin-bottom: 20px;
  }
  .about__text {
    margin-bottom: 20px;
    gap: 20px;
  }
  .about__text p {
    padding: 0;
  }
  .about__img {
    height: 300px;
    margin: 0 -20px -20px;
  }
  .features__item {
    padding: 20px;
  }
  .features__button {
    width: 100%;
  }
  .services__inner {
    padding: 20px;
  }
  .services__img {
    margin: -20px -20px 0;
  }
  .services__title {
    margin: 30px 0;
  }
  .services__item {
    border: none;
    padding: 20px 0;
    border-top: 1px solid #d2d3d6;
    border-radius: 0;
  }
  .services__text {
    margin: 20px 0 30px;
  }
  .services__button {
    width: 100%;
  }
  .reviews__inner {
    padding: 20px;
  }
  .reviews__items {
    gap: 0;
  }
  .reviews__item {
    width: 100%;
    border: none;
    padding: 20px 0;
    border-top: 1px solid #d2d3d6;
    border-radius: 0;
  }
  .reviews__item:last-child {
    padding-bottom: 0;
  }
  .reviews__item img {
    height: 60px;
    width: 60px;
    top: 20px;
    left: 0;
  }
  .reviews__text {
    margin-top: 70px;
  }
  .reviews__author {
    text-align: end;
  }
  .contacts__inner {
    padding: 0px;
  }
  .contacts__info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-right: 0;
    margin-bottom: 0;
    padding: 20px 20px 0 20px;
    max-width: 100%;
    max-height: 100%;
  }
  .contacts__wrapper {
    flex-direction: column;
  }
  .contacts__wrapper .hero__adress {
    margin-bottom: 20px;
  }
  .contacts__wrapper .hero__phone {
    margin-bottom: 30px;
  }
  .contacts__text {
    order: 2;
    margin: 20px 0 5px;
    max-width: 320px;
  }
  .contacts__form {
    border: none;
    border-radius: 12px;
    padding: 70px 20px 50px;
    margin-top: -70px;
    border-top: 1px solid #d2d3d6;
  }
  .contacts__button {
    max-width: 100%;
  }
  .evidence__item {
    padding: 20px;
  }
  .evidence__item::before {
    top: 20px;
    left: 20px;
  }
  .evidence__item:nth-child(1)::before, .evidence__item:nth-child(4)::before {
    height: 60px;
    width: 62px;
  }
  .evidence__item:nth-child(2)::before, .evidence__item:nth-child(3)::before {
    height: 60px;
    width: 86px;
  }
  .evidence__subtitle {
    max-width: 270px;
  }
  .mission__item {
    padding: 20px;
  }
  .mission__item::before {
    top: 20px;
    left: 20px;
    height: 60px;
    width: 60px;
  }
  .prices__item {
    padding: 20px;
  }
  .prices__price {
    margin-bottom: 20px;
  }
  .prices__button {
    bottom: 20px;
    left: 20px;
    width: calc(100% - 40px);
  }
  .map {
    margin-top: -30px;
    border-radius: 12px;
  }
}