html,
body {
  height: 100%;
}

body {
  background-color: $blue;
  @extend %Inter;
  font-size: 16px;
  line-height: 1.2;
  color: $black;
}

.main {
  flex-grow: 1;
}

.container {
  //max-width: 1340px;
  //padding: 0 40px;
}