$white: #fff;
$blue: #ADC9E4;
$black: #202330;
$green: #00850B;

%PTSerif {
  font-family: 'PTSerif', sans-serif;
  font-weight: 400;
}

%Inter {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

%Outfit {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
}