@import 'fonts';
@import 'vars';
@import 'reset';
@import 'global';


.header {
  max-width: 1360px;
  //width: 100%;
  padding: 10px;
  margin: 0 auto;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 24px 40px;
    border-radius: 12px;
  }

  &__list {
    display: flex;
    gap: 50px;
  }

  &__link {
    position: relative;
    text-transform: uppercase;
    color: $black;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -18px;
      height: 2px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0);
      transition: background-color 0.3s;
    }

    &:hover::before {
      background-color: $green;
    }
  }
}

.hero {
  max-width: 1360px;
  height: 550px;
  margin: 0 auto;
  padding: 0 10px 10px;


  &__img {
    max-width: 570px;
    height: 470px;
    width: 100%;

    img {
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  &__inner {
    border-radius: 12px;
    background-color: $white;
    padding: 40px;
    display: flex;
  }

  &__items {
    margin-left: 80px;
    display: flex;
    flex-direction: column;

    a {
      color: $black;
    }
  }

  &__adress,
  &__phone {
    margin-left: 25px;
    position: relative;
    transition: color 0.3s;

    &::before {
      position: absolute;
      left: -25px;
      top: 0;
    }

    &:hover {
      color: $green;
    }
  }

  &__adress {
    margin-bottom: 20px;

    &::before {
      content: url(../images/icon/map.svg);
    }
  }

  &__phone {
    &::before {
      content: url(../images/icon/phone.svg);
    }
  }

  &__title {
    @extend %PTSerif;
    margin-top: auto;
    margin-bottom: 40px;
    font-size: 64px;
  }

  &__btn {
    height: 55px;
    width: 170px;
    text-transform: uppercase;
    color: $white;
    background-color: $green;
    border-radius: 27px;
    border-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $green-hover;
    }
  }
}




















@import 'media';