@import 'fonts';
@import 'vars';
@import 'reset';
@import 'global';


.header {
  max-width: 1360px;
  padding: 10px;
  margin: 0 auto;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 24px 40px;
    border-radius: 12px;
  }

  &__nav-btn,
  &__btn {
    display: none;
  }

  &__list {
    display: flex;
    gap: 50px;
  }

  &__link {
    position: relative;
    text-transform: uppercase;
    color: $black;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -18px;
      height: 2px;
      width: 100%;
      border-radius: 1px;
      background-color: rgba(0, 0, 0, 0);
      transition: background-color 0.3s;
    }

    &:hover::before {
      background-color: $green;
    }
  }
}

.hero {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 10px 10px;

  &__inner {
    border-radius: 12px;
    background-color: $white;
    padding: 40px;
    display: flex;
    gap: 80px;
  }

  &__img {
    max-width: 570px;
    width: 100%;

    img {
      height: 470px;
      border-radius: 5px;
      object-fit: cover;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  &__adress,
  &__phone {
    padding-left: 25px;
    position: relative;
    transition: color 0.3s;

    &::before {
      position: absolute;
      left: 0;
      top: 0;
    }

    &:hover {
      color: $green-hover;
    }
  }

  &__adress {
    margin-bottom: 20px;

    &::before {
      content: url(../images/icon/map.svg);
    }
  }

  &__phone::before {
    content: url(../images/icon/phone.svg);
  }

  &__title {
    margin-top: auto;
    font-size: 64px;
  }

  &__button {
    margin-top: 40px;
  }

  &__text {
    margin-top: 30px;
    max-width: 470px;
  }

  &__inner--reversed {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  &__inner--about {
    .hero__img {
      max-width: 590px;
    }

    .hero__items {
      max-width: 590px;
    }
  }

  &__inner--services {
    .hero__img {
      max-width: 790px;
    }

    .hero__items {
      max-width: 390px;
    }
  }

}

.about {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 10px 10px;

  &__inner {
    height: 940px;
    position: relative;
    border-radius: 12px;
    background-color: $white;
    padding: 40px;
    display: flex;
    flex-direction: column;

    &::before {
      content: '';
      background-image: url(../images/icon/services.svg);
      background-size: cover;
      background-repeat: no-repeat;
      height: 80px;
      width: 115px;
      position: absolute;
      top: 40px;
      left: 40px;
    }
  }

  &__title {
    font-size: 48px;
    margin-bottom: auto;
    margin-left: calc(50% + 25px);
  }

  &__text {
    display: flex;
    margin-bottom: 40px;
    gap: 50px;

    p {
      padding-right: 14%;
      width: 100%;
    }
  }

  &__img {
    height: 500px;
    border-radius: 12px;
    overflow: hidden;
    margin: 0 -40px -40px;
    position: relative;

    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
      position: absolute;
      top: -90px;
    }
  }
}

.features {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 10px 10px;

  &__inner {
    min-height: 510px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }

  &__item {
    border-radius: 12px;
    background-color: $white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__item--big {
    grid-row: span 2;

    .features__subtitle {
      margin-bottom: 45px;
    }
  }

  &__subtitle {
    font-size: 32px;
    margin-bottom: auto;
  }

  &__text {
    max-width: 450px;
  }

  &__button {
    margin-top: auto;
  }

  &__inner-about {
    height: 1345px;
    flex-direction: row;
  }
}

.services {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 10px 10px;

  &__inner {
    border-radius: 12px;
    background-color: $white;
    padding: 40px;
  }

  &__img {
    height: 500px;
    border-radius: 12px;
    overflow: hidden;
    margin: -40px -40px 0;
    position: relative;

    img {
      object-fit: cover;
      object-position: center;
      position: absolute;
      top: -30px;
    }
  }

  &__title {
    font-size: 48px;
    margin: 40px 0;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    border: 1px solid $light-gray;
    border-radius: 5px;
    align-items: center;
    padding: 40px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    font-size: 32px;
    min-width: 300px;
  }

  &__text {
    max-width: 330px;
    margin: 0 20px;
  }
}

.reviews {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 10px 10px;

  &__inner {
    border-radius: 12px;
    background-color: $white;
    padding: 40px;
  }

  &__title {
    font-size: 48px;
    margin-bottom: 40px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__item {
    min-height: 160px;
    width: calc(50% - 5px);
    border: 1px solid $light-gray;
    border-radius: 5px;
    padding: 30px 60px 30px 140px;
    position: relative;

    img {
      border-radius: 50%;
      position: absolute;
      top: 30px;
      left: 30px;
    }
  }

  &__text {
    margin-bottom: 10px;
  }

  &__author {
    color: #797b83;
  }
}

.contacts {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 10px;

  &__inner {
    padding: 40px;
    border-radius: 12px;
    background-color: $white;
    display: flex;
    justify-content: space-between;
  }

  &__info {
    max-width: 320px;
    width: 100%;
    margin-right: 10px;
  }

  &__title {
    font-size: 48px;
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 53px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    .hero__adress {
      margin-bottom: 0;
      max-width: 150px;
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    border: 1px solid $light-gray;
    max-width: 788px;
    border-radius: 5px;
    padding: 40px;
    position: relative;

    span {
      width: 270px;
    }
  }

  &__input {
    display: block;
    max-width: 344px;
    width: 100%;
    height: 63px;
    border: none;
    color: $black;
    outline-style: none;
    border-bottom: 1px solid $black;
    transition: border-color 0.3s;

    &:hover {
      border-color: $green;
    }

    &::placeholder {
      color: $black
    }

    input {
      padding: 0;

    }
  }

  &__button {
    max-width: 344px;
    width: 100%;
  }

  &__checkbox {
    display: flex;
    max-width: 290px;
    width: 100%;

    input {
      appearance: none;
      position: relative;
      max-width: 20px;
      width: 100%;
      height: 20px;
      border: 1px solid $black;
      margin: 0;
      cursor: pointer;

      &:hover {
        border-color: $green;
      }

      &::after {
        content: url(../images/icon/angle-checkbox.svg);
        position: absolute;
        top: -1px;
        left: 3px;
        transition: opacity 0.3s;
        opacity: 0;
      }

      &:checked::after {
        opacity: 1;
      }
    }

    label {
      display: block;
      font-size: 12px;
      margin-left: 10px;
    }
  }
}

.copyright {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.evidence {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 10px 10px;
  display: flex;
  flex-wrap: wrap;

  gap: 10px;

  &__item {
    height: 450px;
    width: calc(50% - 5px);
    border-radius: 12px;
    background-color: $white;
    padding: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &::before {
      position: absolute;
      left: 40px;
      top: 40px;
    }

    &:nth-child(1)::before {
      content: url(../images/icon/features/1.svg);
    }

    &:nth-child(2)::before {
      content: url(../images/icon/features/2.svg);
    }

    &:nth-child(3)::before {
      content: url(../images/icon/features/3.svg);
    }

    &:nth-child(4)::before {
      content: url(../images/icon/features/4.svg);
    }
  }

  &__text {
    max-width: 500px;
    margin-top: 30px;
  }

  &__subtitle {
    font-size: 32px;
  }

}

.mission {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 10px 10px;

  &__item {
    height: 427px;
    border-radius: 12px;
    background-color: $white;
    padding: 40px;
    position: relative;
    display: flex;
    flex-direction: column;

    &::before {
      content: url(../images/icon/features/5.svg);
      position: absolute;
      top: 40px;
      left: 40px;
    }
  }

  &__title {
    font-size: 48px;
    margin-top: auto;
  }

  &__text {
    max-width: 585px;
    width: 100%;
    margin-left: auto;
  }
}

.prices {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 10px 10px;

  &__item {
    border-radius: 12px;
    background-color: $white;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    min-height: 400px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__list {
    width: 300px;
  }

  &__price {
    margin-bottom: 30px;

    p {
      @extend %PTSerif;
      font-size: 32px;
      line-height: 1.2;
      margin-top: 5px;
    }
  }

  &__info {
    max-width: 790px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none;
    padding: 0;
    margin-left: 40px;
  }

  &__text {
    margin: 25px 0 auto 0;
    max-width: 720px;
    width: 100%;
  }

  &__subtitle {
    font-size: 48px;
  }

  &__button {
    width: 100%;
    margin-top: 10px;
  }
}

.map {
  max-width: 1360px;
  height: 412px;
  margin: 0 auto;
  padding: 10px 10px 0;
}

























@import 'media';