@import 'fonts';
@import 'vars';
@import 'reset';
@import 'global';


.header {
  border-radius: 11px;
  padding: 23px 0;
  margin: 10px 10px;
  background-color: $white;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    align-content: center;
  }

  &__list {
    display: flex;
    text-transform: uppercase;
  }

  &__item {
    padding-bottom: 18px;
    margin-bottom: -18px;
    margin-top: 2px;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;

    &:hover {
      border-color: $green;
    }

    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__link {
    color: $black;
  }
}

.hero {
  height: 550px;
  margin: 10px 10px;
  border-radius: 11px;
  background-color: $white;
  padding: 40px 0;

  &__img {
    max-width: 570px;
    height: 470px;
    width: 100%;

    img {
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  &__inner {
    display: flex;
  }

  &__items {
    margin-left: 80px;
    display: flex;
    flex-direction: column;

    a {
      display: block;
      color: $black;
    }
  }

  &__adress,
  &__phone {
    margin-left: 25px;
    position: relative;
    transition: color 0.3s;

    &::before {
      position: absolute;
      left: -25px;
      top: 0;
    }

    &:hover {
      color: $green;
    }
  }

  &__adress {
    margin-bottom: 20px;

    &::before {
      content: url(../images/icon/map.svg);
    }
  }

  &__phone {
    &::before {
      content: url(../images/icon/phone.svg);
    }
  }

  &__title {
    @extend %PTSerif;
    margin-top: auto;
    margin-bottom: 40px;
    font-size: 64px;
  }

  &__btn {
    height: 55px;
    width: 170px;
    text-transform: uppercase;
    color: $white;
    background-color: $green;
    border-radius: 27px;
    border-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $green-hover;
    }
  }
}




















@import 'media';